.logo {
    width: 200px;
    margin: 0 auto;
    height: 130px;
}

.logo img {
    margin-left: -13px
}

.TMS-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    color: #343a40;
    width: 100%;
    padding-bottom: 20px;
}