.section-title { font-weight: bold; margin-top: 20px; }
.value-box { padding: 8px; background:#f8f9fa; border-radius:6px; }
.label-box { font-size:13px; font-weight:600; color:#6c757d; margin-bottom:3px; }
    
.edit-load {
    text-align: right;
}

.load_number {
  font-size: 1.5rem;
  font-weight: 600;
}

.load-details {
    font-size: 1.5rem;
    font-weight: 500;
}